/* Fonts */

@font-face{
	font-family: HelveticaNeueLtStd-Cn;
	src: url('/assets/fonts/HELVETICANEUELTSTD-CN.OTF') format('opentype');
}

@font-face{
	font-family: HelveticaNeueLtStd-BdCn;
	src: url('/assets/fonts/HELVETICANEUELTSTD-BDCN.OTF') format('opentype');
	font-weight: bold;
}

/**/

body, p, h1, h2, h3, h4, h5, h6{
	font-family: HelveticaNeueLtStd-Cn;
}