<!DOCTYPE html>
<html lang="pt_PT">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Bruno Amaral">

    <title>The Untitled Series</title>

    <link href="{{ site.baseurl }}/assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ site.baseurl }}/assets/js/html5shiv.js"></script>
      <script src="{{ site.baseurl }}/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

        {{ content }}

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
